
body{
  margin:0px;
  padding:0px;
  font-family: Roboto,Arial;
  margin-bottom: 200px;
}

.left-session,
.right-session,
.middle-session
{
  display: flex;
  align-items: center;
}

.right-session{
  justify-content: space-between;
  width:182px;
  margin-right: 24px;
  margin-left: 16px;
  flex-shrink: 0;
}

.middle-session{
  flex:1;
  margin-left: 10px;
  margin-right: 10px;
  flex-direction: row;
  justify-content: space-between;
  max-width: 500px;
}

.header{
  display: flex;
  flex-direction: row;
  right: 0px;
  left: 0px;
  top: 0px;
  padding-top: 8px;
  padding-bottom: 10px;
  justify-content: space-between;
  border-bottom: 1px solid rgb(230, 230, 230);
  position: fixed;
  background-color: white;
  z-index: 2;
}

.hamburger-picture{
  width:24px;
  margin-left: 24px;
  margin-right: 24px;
  cursor: pointer;
}
.youtube-logo{
  width: 90px;
  cursor: pointer;
}
.search-icon,
.voice-search-icon{
  height:24px;
}
.search-input-field{
  flex:1;
  /* height: 36px; */
  padding: 10px;
  font-size: 16px;
  width: 0px;
  margin-left: 40px;
  border:solid 1px rgb(192, 192, 192);
  border-radius: 2px 0px 0px 2px;
  padding-left: 12px;
  box-shadow: inset 1px 2px 5px rgba(0,0,0,0.05);
}
.search-input-field::placeholder{
  color:rgb(141, 141, 141);
}
.search-input-field:focus{
  outline: none;
  border:solid 1px rgb(36, 110, 194);
}
.upload-icon,
.youtube-app-icon,
.notification-icon{
  width:24px;
}
.profile-chanel{
  width:34px;
  border-radius: 17px;
  cursor: pointer;
}
.search-button-icon{
  margin-right:8px;
  /* height: 40px; */
  padding: 7px 20px;
  border: 1px solid rgb(192, 192, 192);
  background-color: rgb(245, 245, 245);
  border-radius: 0px 2px 2px 0px ;
  border-left: none;
}
.voice-search-button-icon{
  width:40px;
  height: 40px;
  border-radius: 50%;
  border:none;
  background-color: rgb(245, 245, 245);
}

.notification button{
  position: absolute;
  background-color: rgb(218, 38, 38);
  border:none;
  font-size: 12px;
  color:white;
  top:0px;
  right: -20px;
  bottom: 0px;
  left: 10px;
  height: 16px;
  width: 21px;
  border-radius: 15px;
  cursor: pointer;
}

.create,
.youtube-app,
.notification,
.voice-search-button-icon,
.search-button-icon{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.create .tootip,
.youtube-app .tootip,
.notification .tootip,
.voice-search-button-icon .tootip,
.search-button-icon .tootip{
  position: absolute;
  bottom: -53px;
  font-size: 12px;
  border-radius: 2px;
  padding:10px 8px 10px 8px ;
  color: white;
  white-space: nowrap;
  opacity: 0;
  background-color: rgb(112, 112, 112);
  transition: opacity 0.15s;
}

.create:hover .tootip,
.youtube-app:hover .tootip,
.notification:hover .tootip,
.search-button-icon:hover .tootip,
.voice-search-button-icon:hover .tootip
{
  opacity: 1;
}